node_modules
npm-debug.log
Dockerfile
Dockerfile.dev
.dockerignore
.git
.gitignore
README.md
.env
.env.dev
.env.prod
.nyc_output
coverage
.coverage
.cache
.parcel-cache
dist
build
.DS_Store
*.log
logs
*.tgz
docker-compose.yml
docker-compose.dev.yml
docker-compose.prod.yml
